* {
    margin: 0;
}
body {
    background: linear-gradient( #293462, #439A97);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: relative;
}

h1 {
    margin: 50px auto;
    background: -webkit-linear-gradient(#FEDB39, rgb(213, 213, 164));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Indie Flower', cursive;

    
}
p, h4, b {
    color: white;
    padding-bottom: 5px;
    
}
.text-area p {
    background: -webkit-linear-gradient(#FEDB39, rgb(213, 213, 164));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
hr {
    width: 80px;
    margin: 30px auto;
    border-top: 20px dotted #cd1cd6;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

}
h5 {
    color: white;
    
    
}
input {
    border-color: #293462;
    width: 60%;
}
/* Ballons */
.ballon {
    position: absolute;
    width: 50px;
    height: 50px;
    
    
}
.one {
    position: absolute;
    top: -25px;
    left: -10px;
    border-radius: 70%;
    background-color: #FEDB39;
}
.two {
    top: 10px;
    left: -30px;
    border-radius: 70%;
    background-color: #D61C4E;
}
.three {
    top: -25px;
    left: 20px;
    border-radius: 70%;
    background-color: #ddd;
}
.four {
    position: absolute;
    top: -25px;
    right: -10px;
    border-radius: 70%;
    background-color: #FEDB39;
}
.five {
    top: 10px;
    right: -30px;
    border-radius: 70%;
    background-color: #D61C4E;
}
.six {
    top: -25px;
    right: 10px;
    border-radius: 70%;
    background-color: #ddd;
}
/* Navigation Bar */
.topnav {
    background: linear-gradient(to bottom, #fe39779a, #cd1cd6);
    width: 80%;
    margin: 20px auto;
    
    overflow: hidden;
    border-radius: 25px;
  }
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav .cart-icon {
    float: right;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: inherit;
    color: white;
}
.topnav a.active:hover{
    background-color: #ddd;
    color: #D61C4E;
}
/* First Section, display flex for easer control */
#first-section {
    width: 80vw;
    height: 300px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
.card {
    /* Add shadows to create the "card" effect */
    width: 200px;
    background: linear-gradient(to right, #cf93e39a, #cd1cd6);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 #FEDB39;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.hours-button, .card-button {
    background-color: #D61C4E;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;  
 }
 /* Game button */
.game-button {
    background-color: #293462;
    color: white;
}
.container button h5 {
    color: white;
    
}

.container h5:hover {
    cursor: pointer;
}
.card img {
    border-radius: 25px;
    height: 200px;
    background-size: cover;
}
/* Games Section, it contains games available for rent*/
#games-section {
    width: 80vw;
    height: auto;
    margin: 50px auto;
    
    display: flex;
    justify-content: space-between
}
.game {
    width: 200px;
    background: linear-gradient(to right, #cf93e39a, #cd1cd6);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.game:hover {
    box-shadow: 0 8px 16px 0 #FEDB39;
}
.game img {
    border-radius: 25px;
    height: 300px;
    background-size: cover;
}

.game-button:hover {
    cursor: pointer;
}
/* Text Area */
.text-area {
    width: 80vw;
    
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
}
.text-area p {
    padding: 50px;
    font-size: large;
    color: #FEDB39;
}
#footer {
    height: 400px;
    width: auto;
}
#footer p {
    padding: 50px;
    background: -webkit-linear-gradient(#FEDB39, rgb(213, 213, 164));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: large;
}
/* Cart CSS */
td {
    text-align: start;
}

th {
    text-align: start;
}
.cart-body {
    position: absolute;
    right: 0;
    top: 70px;
    background: linear-gradient(to bottom, #FEDB39, #1CD6CE);
    max-width: 400px;
    height: 30vh;
    margin: 15px 0 15px auto;
    color:#D61C4E;
    border-radius: 25px;
}
.cart-table, .spread {
    
    padding: 5px 5px;
}
.product {
    padding-right: 100px;
}
.price {
    padding-right: 50px;
}
.quantity {
    padding-right: 50px;
}
.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 0px 30px 0px;
    padding: 5px 5px;
}
.total button {
    margin: 15px 0px 15px 0px;
    background-color: #D61C4E;
    color: white;
    cursor: pointer;
}
span {
    font-size: 32px;
}

.cart-table button {
    height: 20px;
    width: 35px;
    margin: 10px auto;
    text-align: center;
    background-color: transparent;
    border: 0px;
    padding: 15px 0 15px auto;
}
.card-table button i {
    margin: 0 auto;
}
.card-table button:hover {
    cursor: pointer;
}
.footer-icons ul {
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    color:#FEDB39;
    list-style-type: none;

}
ul li a {
    color: #FEDB39;
    text-decoration: none;
}